<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>Profile.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>Profile.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfile</servlet-name>
        <servlet-class>Profile.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Profile.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Profile.DeleteProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfile</servlet-name>
        <url-pattern>/DeleteProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
